@tailwind base;
@tailwind components;

@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex flex-col items-center justify-center;
  }
}


*{
    padding: 0;
    margin: 0;
}
.slick-prev,
.slick-next {
  display: none !important;
}


.clip-path-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 30% 50%);
  }
  
/* @media only screen and (max-width: 600px){
    .sliderv{
        margin-top: 70px;
    }
    
} */